@import "cssreset.css"

$screenWidthSmaller_900 = "screen and (max-width: 900px)"
MAINWIDTH = 1140px
body
  font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif
  background-color: #19a6ab
  min-width: 1000px
  padding: 0 0 50px 0
  .holder
    height: 103px
  .container
    width: 980px
    margin: 0 auto
    position: relative
    &.bg
      background-color: rgba(25, 166, 171, 0.54)
    &.fixed
      position: fixed
      top: 0 
      left: 0
      right: 0
      z-index: 99
  a.hook
    display: none
  img.header_banner
    width: 100%
    position: relative
    z-index: 2
  img.header_light
    width: 200px
    position: absolute
    z-index: 1
    top: 0px
    left: -130px
  .menu
    width: 90%
    margin: 0 auto
    padding: 10px 0 22px 0
    .menu-item
      display: inline-block
      vertical-align: middle
      background-image: url('../img/sprite.png')
      background-repeat: no-repeat
      background-size: 300px
      width: 142px
      height: 54px
      margin-right: 43px
      cursor: pointer
      &._1
        background-position: 0 0
        &:hover
          background-position: -159px 0
      &._2
        background-position: 0 -141px
        &:hover
          background-position: -159px -141px
      &._3
        background-position: 0 -207px
        &:hover
          background-position: -159px -207px
      &._4
        background-position: 0 -273px
        &:hover
          background-position: -159px -273px
      &._5
        background-position: 0 -339px
        &:hover
          background-position: -159px -339px
        
      &.last-one
        margin-right: 0
  .main
    width: 100% 
    background-color: #138083
    padding: 60px 0
    position: relative
    color: white
    font-size: 18px
    text-align: center
    .section-title
      width: 235px
      margin: 0 auto
      display: block
    img.pointer
      display: inline-block
      vertical-align: middle
      width: 35px
      height: 28px
    a.middle
      font-size: 20px
      margin: 13px auto 0 auto
      display: inline-block
      text-align: center
      color: white
      text-decoration: underline
      position: relative
      &:before
        content: ''
        background: url('../img/pointer.png') no-repeat
        background-size: 100%
        width: 35px
        height: 28px
        position: absolute
        top: 0px
        left: -53px
        animation: pointerMove 0.5s ease-in infinite
        animation-direction: alternate
    img.part_1_content
      width: 460px
      margin: 36px auto 88px auto
      display: block
      position: relative
      left: 24px
    img.part_2_content
      width: 625px
      margin: 36px auto 88px auto
      display: block
    img.part_3_content
      width: 830px
      margin: 36px auto 88px auto
      display: block
    img.zhifeiji
      position: absolute
      width: 173px
      top: 208px
      left: 0
    img.wawa
      position: absolute
      width: 157px
      top: 732px
      right: 0
    img.pinzhen_l
      position: absolute
      width: 72px
      top: -45px
      left: -40px
    img.pinzhen_r
      position: absolute
      width: 72px
      top: -45px
      right: -40px
    img.book
      position: absolute
      width: 218px
      top: -45px
      right: -340px
    img.earth
      position: absolute
      width: 218px
      top: 1186px
      left: -382px
    img.hat
      position: absolute
      width: 218px
      bottom: 135px
      right: -430px
    .support
      width: 842px
      margin: 52px auto 0 auto
      .sup_item
        width: 400px
        height: 240px
        background-image: url('../img/ad_spi.png')
        background-repeat: no-repeat
        background-size: 810px
        display: inline-block
        vertical-align: middle
        cursor: pointer
        &._1
          background-position: 0 0
          margin: 0 38px 38px 0
          &:hover
            background-position: -410px 0
        &._2
          background-position: 0 -527px
          margin: 0 0 38px 0
          &:hover
            background-position: -410px -527px
        &._3
          background-position: 0 -265px
          margin: 0 38px 0 0
          &:hover
            background-position: -410px -265px
        &._4
          background-position: 0 -781px
          &:hover
            background-position: -410px -781px
        
@keyframes pointerMove
  to
    transform: translateX(10px)




          
          
            

          
      
