doctype html

html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="keywords",  content="2017 GES未来教育大会")

block meta

block title
  title GES 2017未来教育大会

block css
  link(rel="stylesheet", href="../css/main.css")

block body
  body
    .header
      .container
        img(src="../img/o_logo.png")
    .banner
      .banner-container
        img.pc(src="../img/banner_pc.png")
        img.wap(src="../img/banner_wap.png")
    .intro
      .intro-container
        .intro-text.intro-text1 2017年11月28日—11月29日，以“科技创新推动教育进步”为主题的GES 2017未来教育大会（Global Education Summit，以下简称“GES 大会”）将在中国北京正式开幕。届时，300位来自世界各国的教育科技领袖，将就海内外教育、科技的前沿话题和创新成果展开深度探讨。
        .intro-text.intro-text2 教育界“双巨头”将会碰撞出怎样的火花？中美教育发展路径孰优孰劣？科技跨界会否对教育赋能？海外明星企业如何看待中国市场？这些问题将在 GES 全球教育大会上揭晓。
        .intro-text.intro-text3 多知网推出GES2017专题报道，将在第一时间跟进现场最热观点、以独家视角推送行业观察。
        img.line1(src="../img/xieline.png")
        img.line2(src="../img/xieline.png")
    .guest
      .guest-container
        img.guest-title.pc(src="../img/vip_split.png")
        img.guest-title.wap(src="../img/guest_wap.png")
        .guest-list-hd
          a.guest-card-item.margin-right.margin-bottom.margin-right-wap(href="http://www.duozhi.com/industry/201711286642.shtml")
            .img-box
              img.web(src="../img/person/bailaoshi.png")
              .date-box 11-28
            .card-title
              p AI时代下，学习力和思维力才是核心价值
            .card-person-info
              p 白云峰
              p 好未来教育集团总裁
            img.jiantou(src="../img/jiantou.png")
            img.logo(src="../img/little_logo.png")
          a.guest-card-item.margin-right.margin-bottom(href="http://www.duozhi.com/industry/201711286647.shtml")
            .img-box
              img.web(src="../img/person/cindy.png")
              .date-box 11-28
            .card-title
              p 持续坚持+以学生为主是我们给行业的建议
            .card-person-info
              p 米雯娟
              p VIPKID 创始人
              p 兼首席执行官
            img.jiantou(src="../img/jiantou.png")
            img.logo(src="../img/little_logo.png")
          a.guest-card-item.margin-bottom.margin-right-wap(href="http://www.duozhi.com/industry/201711286643.shtml")
            .img-box
              img.web(src="../img/person/michaelmoe.png")
              .date-box 11-28
            .card-title
              p 市场容量大会考虑投资
            .card-person-info
              p Michael Moe
              p GSV创始人兼首席执行官
            img.jiantou(src="../img/jiantou.png")
            img.logo(src="../img/little_logo.png")
          a.guest-card-item.margin-right.margin-bottom-wap(href="http://www.duozhi.com/industry/201711286644.shtml")
            .img-box
              img.web(src="../img/person/dongqi.png")
              .date-box 11-28
            .card-title
              p 国家将启动“中国脑计划”三方面做脑研究
            .card-person-info
              p 董奇
              p 北京师范大学
              p 校长
            img.jiantou(src="../img/jiantou.png")
            img.logo(src="../img/little_logo.png")
          
          
          
          
          
          
            
    //- .interview
    //-   .interview-container
    //-     img.interview-title.pc(src="../img/interview_split.png")
    //-     img.interview-title.wap(src="../img/interview_wap.png")
    //-     .interview-list-hd
    //-       a.interview-item
    //-         .above
    //-         .below
    //-         img.head(src="../img/buguize.png")
    //-         .name PETER K.BOL
    //-         .touxian 哈佛大学副教务长
    //-         img.jiantou-interview(src="../img/jiantou.png")
    //-         .describe
    //-           p 浸入式学习
    //-           p AR&VR／游戏化在教育领域的前景展望
    //-       a.interview-item
    //-         .above
    //-         .below
    //-         img.head(src="../img/buguize.png")
    //-         .name PETER K.BOL
    //-         .touxian 哈佛大学副教务长
    //-         img.jiantou-interview(src="../img/jiantou.png")
    //-         .describe
    //-           p 浸入式学习
    //-           p AR&VR／游戏化在教育领域的前景展望
    //-       a.interview-item
    //-         .above
    //-         .below
    //-         img.head(src="../img/buguize.png")
    //-         .name PETER K.BOL
    //-         .touxian 哈佛大学副教务长
    //-         img.jiantou-interview(src="../img/jiantou.png")
    //-         .describe
    //-           p 浸入式学习
    //-           p AR&VR／游戏化在教育领域的前景展望
    .pic-coll
      .pic-coll-container
        img.pic-coll-title.pc(src="../img/pics_split.png")
        img.pic-coll-title.wap(src="../img/pics_wap.png")
        .pic-coll-list-hd
          img.pic-coll-item.long.margin-right(src="../img/coll/1.png")
          img.pic-coll-item.short(src="../img/coll/2.png")
          img.pic-coll-item.short.margin-right(src="../img/coll/3.png")
          img.pic-coll-item.long(src="../img/coll/4.png")
          img.pic-coll-item.long.margin-right(src="../img/coll/5.png")
          img.pic-coll-item.short(src="../img/coll/6.png")
          img.pic-coll-item.short.margin-right(src="../img/coll/7.png")
          img.pic-coll-item.long(src="../img/coll/8.png")
          img.pic-coll-item.long.margin-right(src="../img/coll/9.png")
          img.pic-coll-item.short(src="../img/coll/10.png")
          img.pic-coll-item.short.margin-right(src="../img/coll/11.png")
          img.pic-coll-item.long(src="../img/coll/12.png")
          img.pic-coll-item.long.margin-right(src="../img/coll/13.png")
          img.pic-coll-item.short(src="../img/coll/14.png")
    .bottom-logo
      .bottom-logo-container
        img(src="../img/bottom_logo.png")
    
block js
    script(type="text/javascript" src="../js/jquery.js")
    script(type="text/javascript" src="../js/main.js")
    