doctype html

html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="keywords",  content="2017 GES未来教育大会")

block meta

block title
  title GES 2017未来教育大会

block css
  link(rel="stylesheet", href="../css/subpage.css")

block body
  body
    a.header(href="#")
      .container
        img(src="../img/o_logo.png")
    .banner
      .banner-container
        img.pc(src="../img/banner_pc.png")
        img.wap(src="../img/sub_wap_banner.png")
    .intro
      .intro-container
    .main
      .main-container
        .person-hd
          .img-bg
            img.person(src="../img/subpic.jpeg")
          .person-info-border
            .person-info
              strong.wap 范德彪
              strong.pc 范德彪/
              .red-line
              p Minerva大学创始届学生
              p 作家
        h2 浸入式学习：AR&VR／游戏化在教育领域的前景展望
        .article-hd
          p “昨天我问孩子，他说只有睡觉的时候脱衣服，而且老师只让脱外面的裤子。脱多了，老师懒得给他们穿。”李丽有些无奈，但又松了一口气。“我听完，心里反而放心了一些。”
          p 李丽的孩子今年5岁，就读的是家附近的一所私立幼儿园，每月费用5000元。看到铺天盖地的“虐童”事件，李丽庆幸孩子即将幼儿园毕业，还算平安的长大。
          p 而事件的另一边，某所幼儿园的老师这两天已身心俱疲：“我要烦死了。”因为家长打爆了她的电话，要求查看摄像头。 “我给他们看了，什么事儿也没有，她们照样不放心。”“昨天我问孩子，他说只有睡觉的时候脱衣服，而且老师只让脱外面的裤子。脱多了，老师懒得给他们穿。”李丽有些无奈，但又松了一口气。“我听完，心里反而放心了一些。”
          p 李丽的孩子今年5岁，就读的是家附近的一所私立幼儿园，每月费用5000元。看到铺天盖地的“虐童”事件，李丽庆幸孩子即将幼儿园毕业，还算平安的长大。
          p 而事件的另一边，某所幼儿园的老师这两天已身心俱疲：“我要烦死了。”因为家长打爆了她的电话，要求查看摄像头。 “我给他们看了，什么事儿也没有，她们照样不放心。”
          p “昨天我问孩子，他说只有睡觉的时候脱衣服，而且老师只让脱外面的裤子。脱多了，老师懒得给他们穿。”李丽有些无奈，但又松了一口气。“我听完，心里反而放心了一些。”
          p 李丽的孩子今年5岁，就读的是家附近的一所私立幼儿园，每月费用5000元。看到铺天盖地的“虐童”事件，李丽庆幸孩子即将幼儿园毕业，还算平安的长大。
          p 而事件的另一边，某所幼儿园的老师这两天已身心俱疲：“我要烦死了。”因为家长打爆了她的电话，要求查看摄像头。 “我给他们看了，什么事儿也没有，她们照样不放心。”“昨天我问孩子，他说只有睡觉的时候脱衣服，而且老师只让脱外面的裤子。脱多了，老师懒得给他们穿。”李丽有些无奈，但又松了一口气。“我听完，心里反而放心了一些。”
          p 李丽的孩子今年5岁，就读的是家附近的一所私立幼儿园，每月费用5000元。看到铺天盖地的“虐童”事件，李丽庆幸孩子即将幼儿园毕业，还算平安的长大。
          p 而事件的另一边，某所幼儿园的老师这两天已身心俱疲：“我要烦死了。”因为家长打爆了她的电话，要求查看摄像头。 “我给他们看了，什么事儿也没有，她们照样不放心。”
          img(src="../img/test.jpeg")
          p 李丽的孩子今年5岁，就读的是家附近的一所私立幼儿园，每月费用5000元。看到铺天盖地的“虐童”事件，李丽庆幸孩子即将幼儿园毕业，还算平安的长大。
          p 而事件的另一边，某所幼儿园的老师这两天已身心俱疲：“我要烦死了。”因为家长打爆了她的电话，要求查看摄像头。 “我给他们看了，什么事儿也没有，她们照样不放心。”“昨天我问孩子，他说只有睡觉的时候脱衣服，而且老师只让脱外面的裤子。脱多了，老师懒得给他们穿。”李丽有些无奈，但又松了一口气。“我听完，心里反而放心了一些。”
          p 李丽的孩子今年5岁，就读的是家附近的一所私立幼儿园，每月费用5000元。看到铺天盖地的“虐童”事件，李丽庆幸孩子即将幼儿园毕业，还算平安的长大。
          p 而事件的另一边，某所幼儿园的老师这两天已身心俱疲：“我要烦死了。”因为家长打爆了她的电话，要求查看摄像头。 “我给他们看了，什么事儿也没有，她们照样不放心。”



    .bottom-logo
      .bottom-logo-container
        img(src="../img/bottom_logo.png")
    
block js
    script(type="text/javascript" src="../js/jquery.js")
    script(type="text/javascript" src="../js/main.js")
    