doctype html

html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=1180")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="keywords",  content="腾讯社交广告-教育行业“菁选之路”")
    title 腾讯社交广告-教育行业“菁选之路”
    link(rel="stylesheet", href="./css/main.css")
  body
    .container
      img.header_banner(src="./img/header_banner.png", id="top")
      img.header_light(src="./img/icon1.png")
    .holder
      .container.bg(id="menu")
        .menu
          a.menu-item._1(href="#top")
          a.menu-item._2(href="#gailan")
          a.menu-item._3(href="#fangan")
          a.menu-item._4(href="#shizhan")
          a.menu-item._5.last-one(href="#anli")
    .container
      .main
        img.zhifeiji(src="./img/3.png")
        img.wawa(src="./img/4.png")
        img.pinzhen_l(src="./img/left.png")
        img.pinzhen_r(src="./img/right.png")

        img.section-title(id="gailan", src="./img/title1.png")
        //- img.pointer(src="./img/pointer.png")
        a.middle(href="http://www.duozhi.com/industry/201712126696.shtml") 腾讯社交广告平台：从渠道为王到大数据生意，教育行业如何用优质内容打赢社交营销战？
        img.part_1_content(src="./img/1.png")

        img.section-title(id="fangan", src="./img/title2.png")
        a.middle(href="http://www.duozhi.com/roll/201801086777.shtml") 教育行业菁选营销宝典扫码而来！
        img.part_2_content(src="./img/question.png")
        
        img.section-title(id="shizhan", src="./img/title3.png")
        a.middle(href="http://www.duozhi.com/roll/201801086783.shtml") 腾讯社交广告首发教育营销手册，助力品牌主玩转“不偏科”营销
        img.part_3_content(src="./img/2.png")
        
        img.section-title(id="anli", src="./img/title4.png")
        .support
          a.sup_item._1(href="http://www.duozhi.com/roll/201801086773.shtml", target="_blank")
          a.sup_item._2(href="http://www.duozhi.com/roll/201801086776.shtml", target="_blank")
          a.sup_item._3(href="http://www.duozhi.com/roll/201801086774.shtml", target="_blank")
          a.sup_item._4(href="http://www.duozhi.com/roll/201801086775.shtml", target="_blank")

    script(type="text/javascript" src="./js/jquery.js")
    script(type="text/javascript" src="./js/main.js")
    